* {
    margin: 0;
    padding: 0;
    list-style-type: none;
    flex: 1 0 auto;
    font-family: 'Arimo', sans-serif;
}

.attachment img {
    padding-top: 10px;
    width: 400px;
    display: table-cell;
    padding-bottom: 20px;

}

.report {
margin-top: 10px;
    margin-bottom: 40px;
}
